<%= simple_form_for @item do |f| %>

  <div class="col-md-6"><%= f.input :barcode  %></div>
  <div class="col-md-6"><%= f.input :name  %></div>
  <div class="col-md-4"><%= f.input :reorderLevel  %></div>
  <div class="col-md-4"><%= f.input :unit  %></div>
  <div class="col-md-4"><%= f.input :pkg  %></div>
  <div><%= f.input :description  %></div><br>
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div><br>
  <div><%= f.input :quantity  %></div><br>
  <div><%= f.submit "Submit", class: 'btn btn-primary' %></div>
<% end %>
