<%= render "layouts/navbar" %>
<div class="container">

    <div class="row">
      <div class="col-md-6"><br><br>
        <h1><%= @item.name %></h1><hr><br>

        <div class="col-md-7">
          <h4><strong>Barcode :</strong> <%= @item.barcode %></h4>
        </div>
        <div class="col-md-5">
          <h4><strong>Unit :</strong> <%= @item.unit %></h4>
        </div>
        <div class="col-md-7">
          <h4><strong>Pkg :</strong> <%= @item.pkg %></h4>
        </div>
        <div class="col-md-5">
          <h4 class=""><strong>Quantity :</strong> <%= @item.quantity %></h4>
        </div>
        <div class="col-md-7">
          <h4><strong>Reorder Level :</strong> <%= @item.reorderLevel %></h4>
        </div>
        <div class="col-md-5">
          <h4><strong>Reorder Time :</strong> <%= @item.quantity - @item.reorderLevel %></h4>
        </div>
        <div class="col-md-6"><br><br><br>
          <p><strong>Submited</strong> <%= time_ago_in_words(@item.created_at) %> Ago</p>
        </div>
      </div>
      <div class="col-md-6">
      <% if Rails.application.assets.find_asset("#{@item.po_number}.png").present? %>
        <%= image_tag ("#{@item.po_number}.png"), style:"min-width: 550px;", class: "img-responsive" %>
      <% else %>
        <%= image_tag ("default.png"), style:"min-width: 550px;"  %>
      <% end %>
      </div>

    </div>
    <!-- end of row -->

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to "Home",
        items_path %></button>
      </div>
      <% if can? :edit, @item %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to "Edit",
        edit_item_path(@item) %></button>
        <% end %>
      </div>
      <% if can? :destroy, @item %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to "Delete",
        item_path(@item), method: :delete,
        data: {confirm: "Are you sure?"}
        %></button>
        <% end %>
      </div>


</div>
