<%= render "layouts/navbar" %>
<div class="container">
  <div class="col-md-4">
    <%= @category.errors.full_messages.join(', ') %>
    <%= form_for @category do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.submit "submit", class: "btn btn-primary" %>
    </div>
  <%end %>
  </div>
</div>
