<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= image_tag "Scount_Logo.png", class: "icon" %></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
              <% if user_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i><strong>  HELLO <%= current_user.first_name.capitalize %> </strong> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to ' Logout', sessions_path, method: :delete,
                                                        class: "fa fa-sign-out",
                                                        data: { confirm: "Are you
                                                        sure you want to logout?"} %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "Login", new_session_path, class: "fa fa-sign-in" %>
                  </li>
                  <li>
                    <%= link_to "Sign Up", new_user_path, class: "fa fa-user-plus" %>
                  </li>
                  <% end %>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="">
                    <a href="/"> DASHBOARD</a>
                </li>
                <li>
                  <a href="/items"> ALL ITEMS</a>
                </li>
                <li>
                  <a href="/items/new"> ADD ITEMS</a>
                </li>
                <li>
                  <a href="/scans/new"> SCAN ITEM</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"> CATEGORY <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                          <a href="/categories/new"> ADD CATEGORY</a>
                        </li>
                        <li>
                          <a href="/categories"> EDIT CATEGORY</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
