<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Ubuntu' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body><br>
    <div class="container">
      <div class="pull-left">
        <h4><%= link_to "Home", root_path %> |
        <%= link_to "All Items", items_path %> |
        <%= link_to "Create New Item", new_item_path %></h4>
      </div>
      <div class="pull-right">
        <% if user_signed_in? %>
        <strong>  Hello <%= current_user.first_name %></strong> |
        <%= link_to 'Logout', sessions_path, method: :delete,
                                            data: { confirm: "Are you
                                            sure you want to logout?"} %>
        <% else %>
        <%= link_to "Login", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </div>
    </div><br>
    <%= yield %>
  </body>
</html>
