<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Ubuntu' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'sb-admin'%>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
    <%= javascript_include_tag 'application' %>


  </head>

  <body><br>

    <%= yield %>
  </body>
</html>
